<div class="col-sm-3">
  <div class="card " style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= poll.questions.first.content %></h5>
      <p class="card-text">Clique no botão abaixo para participar da enquete.</p>
      <a href="#" class="btn btn-primary">Participar</a>
    </div>
  </div>
</div>
