<main role="main" class="container">
  <div class="row">
    <div class="col-md-12 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Bem vindo!</h2>
        <p>Bem vindo ao agregador de enquetes, escolha uma abaixo e participe.</p>
      </div>
    </div>
  </div>
</main>
